<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      
    <div class="container-fluid p-3"> 
      <%= render 'layouts/sidebar' %>  
      <main class="col-md-9 ms-sm-auto col-lg-10">
        <%= render 'layouts/flash' %>
        <div class="middle-content">
          <%= yield %>
        </div>        
      </main>
    </div>
  </body>
</html>
